@model School_Manager.Core.ViewModels.FModels.TariffDto
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "افزودن تعرفه جدید";
}

<div class="card">
    <div class="card-header bg-success">

        <h2>افزودن تعرفه جدید</h2>
    </div>
    <div class="card-body bg-dark">


        <form asp-action="Create" method="post">
            <div class="mb-3">
                <label asp-for="FromKilometer" class="form-lable text-white ">از کیلومتر</label>
                <input asp-for="FromKilometer" class="form-control" type="number" step="0.01" required />
            </div>
            <div class="mb-3">
                <label asp-for="ToKilometer" class="form-lable text-white ">تا کیلومتر</label>
                <input asp-for="ToKilometer" class="form-control" type="number" step="0.01" required />
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-lable text-white ">قیمت (ریال)</label>
                <input asp-for="Price" class="form-control" type="number" required />
            </div>
            <div class="mb-3">
                <label asp-for="FromDate" class="form-lable text-white ">از تاریخ</label>
                <input name="StartDate" type="text" class="form-control persian-date bg-secondary text-white" placeholder="انتخاب تاریخ" required />
                <input type="hidden" class="gregorian-date" />
            </div>
            <div class="mb-3">
                <label asp-for="ToDate" class="form-lable text-white ">تا تاریخ</label>
                <input name="EndDate" type="text" class="form-control persian-date bg-secondary text-white" placeholder="انتخاب تاریخ" required />
                <input type="hidden" class="gregorian-date" />
            </div>
            <button type="submit" class="btn btn-success">ذخیره</button>
            <a asp-action="Index" class="btn btn-secondary">بازگشت</a>
        </form>
    </div>
</div>