@model School_Manager.Core.ViewModels.FModels.TariffDto
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "ویرایش تعرفه";
}

<div class="card">
    <div class="card-header bg-warning">
        <h2>ویرایش تعرفه</h2>

    </div>
    <div class="card-body bg-dark">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="FromKilometer" class="form-label text-white">از کیلومتر</label>
                <input asp-for="FromKilometer" value="@Model.FromKilometer" class="form-control" type="number" step="0.01" required />
            </div>
            <div class="mb-3">
                <label asp-for="ToKilometer" class="form-label text-white">تا کیلومتر</label>
                <input asp-for="ToKilometer" value="@Model.ToKilometer" class="form-control" type="number" step="0.01" required />
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label text-white">قیمت (ریال)</label>
                <input asp-for="Price" value="@Model.Price" class="form-control" type="number" required />
            </div>
            <div class="mb-3">
                <label asp-for="FromDate" class="form-label text-white">از تاریخ</label>
                <input name="StartDate" type="text" class="form-control persian-date bg-secondary text-white" placeholder="انتخاب تاریخ" required />
                <input type="hidden" class="gregorian-date" />
            </div>
            <div class="mb-3">
                <label asp-for="ToDate" class="form-label text-white">تا تاریخ</label>
                <input name="EndDate" type="text" class="form-control persian-date bg-secondary text-white" placeholder="انتخاب تاریخ" required />
                <input type="hidden" class="gregorian-date" />
            </div>
            <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
            <a asp-action="Index" class="btn btn-secondary">بازگشت</a>
        </form>
    </div>
</div>