@* @using ServiceBase.Setting
@model ServiceBase.Setting.SettingDto
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "حذف تنظیم";
}

<h2>حذف تنظیم</h2>
<div class="alert alert-danger">آیا مطمئن هستید که می‌خواهید این تنظیم را حذف کنید؟</div>
<dl class="row">
    <dt class="col-sm-3">نوع تنظیم</dt>
    <dd class="col-sm-9">@Model.SettingType</dd>
    <dt class="col-sm-3">مقدار</dt>
    <dd class="col-sm-9">@Model.Value</dd>
</dl>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="SettingType" />
    <button type="submit" class="btn btn-danger">حذف</button>
    <a asp-action="Index" class="btn btn-secondary">انصراف</a>
</form>
 *@